<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elo Soluções Digitais-Contato</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
</head>
<body>
    <header>
        <div class="container header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Elo Soluções Digitais">
            </div>

            <nav>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/servicos">Serviços</a></li>
                    <li><a href="/contato" class="ativo">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="container contato-section">
            <div class="contato-header">
                <h1>Entre em contato conosco</h1>
                <p class="text-contato">
                    Se você deseja transformar sua ideia em uma solução digital eficiente, estamos prontos para ajudar.<br>
                    Preencha o formulário abaixo e nossa equipe retornará o mais breve possível.
                </p>
            </div>

            <div class="contato-card">
                <form action="/contato" method="POST">
                    <div class="formulario">
                        <label for="nome">Seu nome:</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>

                    <div class="formulario">
                        <label for="email">Seu e-mail:</label>
                        <input type="email" id="email" name="email" required>
                    </div>

                    <div class="formulario">
                        <label for="mensagem">Sua mensagem:</label>
                        <textarea id="mensagem" name="mensagem" required></textarea>
                    </div>

                    <div class="button-enviar-dados">
                        <button type="submit" class="button">Enviar Dados</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <p>© 2026 Elo Soluções Digitais.</p>
            <p>Projeto institucional desenvolvido por Aline Ferreira.</p>
            <p>Desafio de Desenvolvimento Web</p>
        </div>
    </footer>
</body>
</html>