<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elo Soluções Digitais-Sobre nós</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
    
</head>
<body>
    <header>
        <div class="container header-container">

            <div class="logo">
                <img src="static/img/logo.png" alt="Logo Elo Soluções Digitais">
            </div>

            <nav>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/sobre" class="ativo">Sobre</a></li>
                    <li><a href="/servicos">Serviços</a></li>
                    <li><a href="/contato">Contato</a></li>
                </ul>
            </nav>

        </div>
    </header>
     <main>

         <section class="hero">
            <div class="container hero-container">

                <div class="hero-text-sobre">
                    <h1>QUEM SOMOS? </h1>
                    <p>A Elo Soluções Digitais nasceu com o propósito de oferecer soluções digitais acessíveis, modernas e bem estruturadas. Somos movidos pela inovação, pelo compromisso com resultados e pela busca constante por aprimoramento técnico.
Trabalhamos com responsabilidade e dedicação em cada projeto, entendendo as necessidades de cada cliente e desenvolvendo soluções personalizadas que realmente agregam valor. Nosso diferencial está na combinação entre organização, clareza nos processos e foco na experiência do usuário.</p>
                   
                </div>

                <div class="hero-image-sobre">
                    <img src="static/img/quem-somos.jpg" alt="Imagem de mãos de pessoas juntas">
                </div>

            </div>
        
        </section>
        <section class="sobre-nos">
            <div class="container">
                <div class="sobre-missao">
                    <h3>MISSÃO</h3>
                    <p>Desenvolver soluções tecnológicas eficientes que contribuam para a organização, crescimento e fortalecimento digital de empresas e profissionais.</p>
                     <h3>VISÃO</h3>
                     <p>Ser reconhecida pela qualidade, responsabilidade e comprometimento na entrega de projetos digitais, destacando-se pela excelência e inovação.</p>
                     <h3>VALORES</h3>
                        <ul class="class-sobre-valores">
                            <li>Ética e transparência em todas as relações</li>
                            <li>Comprometimento com prazos e qualidade</li>
                            <li>Inovação contínua</li>
                            <li>Organização e planejamento</li>
                            <li>Respeito e colaboração</li>
                        </ul>
                </div>

            </div>

        </section>




    </main>
<footer class="footer">
    <div class="container">
        <p>© 2026 Elo Soluções Digitais.</p>
        <p>Projeto institucional desenvolvido por Aline Ferreira.</p>
        <p>Desafio de Desenvolvimento Web </p>
    </div>
</footer>
</body>

</html>